<% provide(:title, 'Sign up') %>
<% provide(:form_action, signup_path) %>
<% provide(:button_text, "Create my account") %>
<h1>Sign up</h1>
<p>Resistance is futile. You will be assimilated.</p>
<%= render 'form' %>
